﻿
@{
    ViewBag.Title = "Index";
}
@section scripts {
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/RecursoController.js"></script>

}
<div ng-app="resources" id="body">
    <div ng-controller="resourceController">
        <div class="input-group">
            <h1>Cadastro de Recursos</h1>
            <div class="input-group-btn">
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Auditoria dos Recursos</button>
            </div>
        </div>
        <div hidden="hidden">
            <input type="text" ng-model="Resource.Id" />
        </div>
        <div class="form-group">
            <label for="email">Descrição:</label>
            <input type="text" ng-model="Resource.Description" class="form-control" />
        </div>
        <div class="form-group">
            <label for="name">Observação:</label>
            <input type="text" ng-model="Resource.Note" class="form-control" />
        </div>
        <div class="form-group">
            <label for="name">Quantidade:</label>
            <input type="number" ng-model="Resource.Amount" class="form-control" />
        </div>
        <button data-ng-click="save()" id="save" class="btn btn-default">Salvar</button>
        <button data-ng-click="update()" id="atu" class="btn btn-default" style="display: none;">Atualizar</button>
        <div ng-show="resourceData > '0' ">
            <h1>Recursos</h1>
            <table ng-cloak class="table table-striped">
                <thead class="thead-inverse">
                    <tr>
                        <th style="display: none;">ID</th>
                        <th>Descrição</th>
                        <th>Observação</th>
                        <th>Quantidade</th>
                        <th>Disponibilidade</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in resourceData">
                        <td hidden="hidden">{{items.Id}}</td>
                        <td>{{item.Description}}</td>
                        <td>{{item. Note}}</td>
                        <td>{{item.Amount}}</td>
                        <td>{{item.Amount>0?"Disponível":"Indisponível" }}</td>
                        <td>
                            <button ng-model="$scope.Resource" class="btn btn-info"
                                    ng-click="edit(item)" id="update">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"/></button>
                            <button ng-click="delete(item)" class="btn btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-lg">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Auditoria dos Recursos</h4>
                    </div>
                    <div class="modal-body">
                        <select ng-model="Inventary.mode" ng-options="item as item.name for item in tipos">
                            <option value="">Nothing selected</option>
                        </select>
                        <button data-ng-click="find()" id="save">Buscar</button>
                        <div ng-show="InventaryData > '0' ">
                            <table ng-cloak class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Usuario Responsável</th>
                                        <th>Recurso</th>
                                        <th>Tipo de modificação</th>
                                        <th>Data da Modificação</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in InventaryData">
                                        <td>{{item.Usu.Login}}</td>
                                        <td>{{item.Rec.Description}}</td>
                                        <td>{{item.Mode}}</td>
                                        <td>{{item.DateRegister}}</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

