﻿@using Proj.Wilson.ApocalipseZombie.Models
@{    var usu = Base.Users.Where(u => u.Id == HttpContext.Current.User.Identity.Name).FirstOrDefault();
    string login = usu != null ? string.Format("BEM VINDO:{0}", usu.Login ): "";


 }
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <style type="text/css">
        #myModal .modal-body {max-height: 800px;}
         
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
                <p class="navbar-text pull-right">
                    @if (HttpContext.Current.User.Identity.IsAuthenticated)
                    { <!-- -->
                        @login
                        @Html.ActionLink("  LOGOF  ", "Logof", "Home")
                    }
                    else
                    {
                        @Html.ActionLink("LOGON", "LogOn", "Home")
                    }
                </p>
            </div>
            
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</body>
</html>